body {
    background: #D9F8BA;
    font-family: Helvetica, Arial, sans-serif;
}
#newPostcard {
    width: 300px;
}
#postcardContents {
    width: 100%;
    height: 100px;
}
#postTheCard {
    margin: 20px;
    float: right;
}
#postcardsPosted {
    clear: right;
}
.postcard {
    clear: both;
    margin: 30px;
    width: 270px;
}
.postcard aside {
    font-style: italic;
    float: right;
}

@media all and (orientation:landscape) {
    #newPostcard {
        width: 200px;
        float: left;
    }
    #postcards-posted {
        clear: none;
        float: left;
    }
    .postcard {
        clear: none;
        margin: 20px;
        width: 220px;
    }
}

