body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    background: #D9F8BA;
    font-family: Helvetica, Arial, sans-serif;
}
#newPostcard {
    width: 300px;
}
#postcardContents {
    width: 100%;
    height: 100px;
}
#postTheCard {
    margin: 20px;
    float: right;
}
#postcards-posted {
    clear: right;
}
.postcard {
    clear: both;
    margin: 30px;
    width: 270px;
}
.postcard aside {
    font-style: italic;
    float: right;
}
#postcardImage {
    background: #ccf;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    height: 200px;
}

@media (orientation:landscape), (min-device-width: 400px) {
    #newPostcard {
        width: 200px;
        float: left;
    }
    #postcards-posted {
        clear: none;
        float: left;
    }
    .postcard {
        clear: none;
        margin: 20px;
        width: 250px;
    }
}
