body {
    background: #69F;
    color: white;
    font-family: Helvetica Neue;
}
h1, input, button, ul, a {
    display: block;
    margin: 8% auto;
    padding: 3% 5%;
    width: 65%;
}
h1, input, button {
    -webkit-box-shadow: #03c 4px 4px 3px;
    border-radius: 15px;
}
h1 {
    background: blue;
    text-align: center;
}
input, button {
    -webkit-appearance: none;
    border: transparent;
    font-size: 0.8em;
}
button {
    background: #06C;
    color: #9CF;
    font-weight: bold;
}
button:active {
    background: #9CF;
    color: #06C;
}
ul {
    color: #CCF;
    font-weight: bold;
}
a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
